<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statuses</key>
	<array>
		<dict>
			<key>name</key>
			<string>LL</string>
			<key>age</key>
			<string>25</string>
			<key>height</key>
			<string>145</string>
		</dict>
        <dict>
            <key>name</key>
            <string>ass</string>
            <key>age</key>
            <string>434</string>
            <key>height</key>
            <string>1445</string>
        </dict>
        <dict>
            <key>name</key>
            <string>123L</string>
            <key>age</key>
            <string>2125</string>
            <key>height</key>
            <string>121cf</string>
        </dict>
        <dict>
            <key>name</key>
            <string>fdsL</string>
            <key>age</key>
            <string>2vds5</string>
            <key>height</key>
            <string>14fva35</string>
        </dict>
        <dict>
            <key>name</key>
            <string>few</string>
            <key>age</key>
            <string>212315</string>
            <key>height</key>
            <string>vcd</string>
        </dict>
        <dict>
            <key>name</key>
            <string>favcxz</string>
            <key>age</key>
            <string>vczx</string>
            <key>height</key>
            <string>3213</string>
        </dict>
	</array>
</dict>
</plist>
